/*min css-text*/
body{
  background-color:#2b2a2b;
}
  .titel {
    color: #33887b;
    font-size: 45px;
    margin: 35px;
    background-color: #000;
    text-align: left;
    font-family: "calibri"
  }

  .paragrafett {
    text-align: left;
    color: #999;
    margin: 35px;
    background-color: #000;
    font-family: "calibri"
  }
